 #cardOfferBanner {
  border-style: solid;
  border-color: #d3e6f6;
  margin: 10px;
  border-width: 1.5px;
  border-radius: 2px;
}

#cardOfferBanner img {
  display: inline-block;
}

#cardOfferBanner p {
  display: inline-block;
}

.cartLabel {
  border-bottom: solid;
  border-color: lightgray;
  border-width: 1px;

}

.cartLabel p {
  text-align: right;
}

.cartLabel2 {
  padding-left: 200px;
}

#cart {
  max-width: 74%;
  min-width: 500px;
  display: inline-block;
}

#rightPanel {
  text-align: center;
  padding-top: 20px;
  max-width: 20%;
  display: inline-block;
  min-width: 350px;
  float: right;
  position: absolute;
}

#totalBox {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#totalBox2 {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: white;
  background-color: whitesmoke;
}

#totalBox2 button {
  width: 250px;
  background-color: #f3cf77;
  border-radius: 4px;
  opacity: 7;
  border-color: white #a88734 #9c7e31 #846a29;
  border-width: .5px;
}
